body,
html {
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
  fill: #333;
  font-family: open sans, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nofocuslink {
  color: #08c;
  text-decoration: none;
}
.nofocuslink:visited {
  color: #08c;
  text-decoration: none;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 16px;
  padding: 0;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 16px;
}
p {
  text-align: left;
  line-height: 1.65;
}
img {
  max-width: 100%;
}
img.h1 {
  display: block;
  height: 27px;
  margin: 19px auto;
  opacity: 0.8;
}
.read-more::after {
  color: inherit;
  content: "→";
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  padding-left: 3px;
  transition: transform 0.15s ease-in-out;
}
.read-more:hover::after {
  transform: translateX(3px);
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.grid {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  width: auto;
}
.grid > * {
  margin: 16px;
}
.grid .grid {
  padding: 0;
}
.grid .whole {
  display: block;
}
.grid .third {
  width: calc(49% - 32px);
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}
@media only screen and (min-width: 640px) {
  .grid .third {
    width: calc(32% - 32px);
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
  }
  .grid .third:last-child {
    margin-left: 16px;
    margin-right: 0;
  }
  .grid .two-thirds {
    display: inline-block;
    vertical-align: top;
    width: calc(66% - 48px);
  }
  .grid :only-child p {
    text-align: center;
  }
}
.third h3,
.third p {
  text-align: center;
}
a.third {
  color: inherit;
}
a.third:hover {
  color: #08c;
  fill: #08c;
}
.third .fa {
  font-size: 32px;
  text-align: center;
  display: block;
}
.warning {
  color: #fbc02d;
}
.icon {
  position: relative;
  text-align: center;
}
@media (min-width: 444px) {
  .icon {
    position: absolute;
  }
  .icon-text {
    padding-left: 88px;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: #333;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  margin: 24px;
  outline: 0;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  transition: all 0.1s ease-in;
}
select {
  font-size: 13px;
  padding: 8px;
}
select {
  text-align: left;
}
select:focus {
  border-color: rgba(61, 155, 218, 0.8);
  transition: all 0.2s ease-in;
}
select:focus:invalid,
select:invalid {
  color: #c0392b !important;
}
.grey {
  background-color: #fafafa;
}
.docs img {
  display: block;
  margin: 0 auto;
}
@media print {
  footer,
  header,
  nav {
    display: none;
  }
}
